@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

p {
    font-family: 'Montserrat', sans-serif;

}

#overlay-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
}

#overlay-loader h2 {
    position: absolute;
    top: 46%;
}

main {
    width: 80%;
    margin: auto;
    position: relative;
}

#page-title {
    text-align: center;
}

#page-title h1 {
    margin-top: 70px;
}

section.search {
    padding: 60px 0 0 0;
}

section.search .custom-search-form {
    width: 80%;
    padding: 30px;
    background: -moz-linear-gradient(left, rgba(249, 212, 35, 0.45) 0%, rgba(255, 78, 80, 0.45) 100%);
    background: -webkit-linear-gradient(left, rgba(249, 212, 35, 0.45) 0%, rgba(255, 78, 80, 0.45) 100%);
    background: linear-gradient(to right, rgba(249, 212, 35, 0.45) 0%, rgba(255, 78, 80, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73f9d423', endColorstr='#73ff4e50', GradientType=1);
    border-radius: 80px;
    margin: auto;
}

section.search #search {
    width: 80%;
    background: transparent;
    border: 0;
    box-shadow: none;
}

section.search input#search[placeholder] {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #202020;
    padding-left: 30px;
    outline: none;
}

.wrap-sub-search {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
}

.wrap-sub-search .text-result {
    width: 90%;
    padding: 10px;
}

.wrap-sub-search .filter-icon {
    padding: 10px 20px;
}

.filter-search {
    width: 100%;
    height: 0;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.3s ease;
}

.filter-search.open {
    height: 100%;
    border: 1px solid #EEE;
    padding: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}

form > label {
    display: block;
    text-align: center;
}

.center-cb {
    text-align: center;
    margin: 20px auto;
}

.meter-checkbox {
    margin: 0 10px;
    display: inline-block;
}

.meter-checkbox input {
    display: none;
}

.meter-checkbox label {
    position: relative;
    font-size: 16px;
    color: #bfbfbf;
    display: inline-block;
    padding: 0 0 0 1em;
    cursor: pointer;
}

.meter-checkbox label:before {
    content: '';
    display: inline-block;
    background: #55D8C6;
    position: absolute;
    left: -10px;
    top: 0;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 80%;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    border: 10px solid #fff;
    transition: border .3s ease;
}

.meter-checkbox input#true + label:before,
.meter-checkbox input#mostly-true + label:before,
.meter-checkbox input#half-true + label:before {
    background-color: #7CB518;
}

.meter-checkbox input#false + label:before,
.meter-checkbox input#mostly-false + label:before {
    background-color: #EA3546;
}

.meter-checkbox input#pants-on-fire + label:before {
    background: -webkit-radial-gradient(circle, #F9C80E, #EA3546);
    background: -o-radial-gradient(circle, #F9C80E, #EA3546);
    background: -moz-radial-gradient(circle, #F9C80E, #EA3546);
    background: radial-gradient(circle, #F9C80E, #EA3546);
}
.meter-checkbox input#full-flop + label:before,
.meter-checkbox input#half-flip + label:before {
    background-color: #F9C80E;
}

.meter-checkbox input#no-flip + label:before {
    background-color: #F1EEEA;
}

.meter-checkbox input:checked + label:before {
    border-color: #fff;
    border-width: 3px;
}

.meter-checkbox input + label {
    transition: color .7s ease;
}

.meter-checkbox input:checked + label {
    color: #5D5D5D;
}

.filter-search label.label-dr {
    text-align: center;
    display: block;
}

.input-group {
    width: 30%;
    margin: auto;
}

.input-group input {
    border: 1px solid;
}

#content h3{
    text-align: center;
}

.hoax-rows {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hoax-row {
    width: 29%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 6px 10px 0px #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hoax-row a,
.hoax-row a:hover,
.hoax-row a:focus {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
}

.hoax-row .row-content {
    position: relative;
    padding: 40px;
}

/*.row .row-content .meter-type {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}*/

.hoax-row .row-content .meter-type.meter-bar {
    width: 100%;
    height: 8px;
    margin-bottom: 40px;
    position: relative;
    background: #F1EEEA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.hoax-row .row-content .meter-type.meter-bar p {
    font-size: 12px;
    padding: 10px 0;
}

.hoax-row .row-content .true::before {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #7CB518;
}

.hoax-row .row-content .pants-on-fire::before {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: -moz-linear-gradient(left, #F9C80E 0%, #EA3546 100%);
    background: -webkit-linear-gradient(left, #F9C80E 0%, #EA3546 100%);
    background: linear-gradient(to right, #F9C80E 0%, #EA3546 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73F9C80E', endColorstr='#73EA3546', GradientType=1);
}

.hoax-row .row-content .half-true::before {
    content: '';
    width: 50%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    /*background-color: #71bf44;*/
    background-color: #7CB518;
}

.hoax-row .row-content .mostly-false::before {
    content: '';
    width: 75%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #EA3546;
}

.hoax-row .row-content .full-flop::before {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #F9C80E;
}

.hoax-row .row-content .mostly-true::before {
    content: '';
    width: 75%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #7CB518;
}

.hoax-row .row-content .false::before {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #EA3546;
    /*background-color: #9b551a;*/
}

.hoax-row .row-content .half-flip::before {
    content: '';
    width: 50%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #F9C80E;
    /*background-color: #9b551a;*/
}

.holder {
    text-align: center;
    padding: 20px;
}

.holder a,
.holder a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 10px;
    color: #000;
    cursor: pointer;
}

.holder a.jp-previous,
.holder a.jp-next {
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    padding: 6px;
    background-color: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.holder a.jp-current {
    text-decoration: overline;
    color: #000;
}

.holder a.jp-previous:hover,
.holder a.jp-next:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.holder a.jp-previous.jp-disabled,
.holder a.jp-next.jp-disabled {
    visibility: hidden;
}

.holder a.jp-previous {
    top: 60%;
    left: -50px;
}

.holder a.jp-next {
    top: 60%;
    right: -50px;
}

.hoax-row .block-img img {
    transform: translateY(10px);
    border-radius: 50%;
}

.hoax-row .block-text h4,
.hoax-row .block-text p,
.hoax-row .block-text span {
    font-family: 'Montserrat', sans-serif;
}

.hoax-row .block-text h4 {
    font-weight: 600;
    margin: 30px 0;
}

.hoax-row .block-text span {
    font-weight: 600;
    margin: 10px 0;
}

.hoax-row p.score {
    color: #555555;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .input-group {
        width: 60%;
    }
    .hoax-row {
        width: 300px;
    }
}